@use 'sass:map';
@use '@groton/colors';
@use '@groton/colors/vars';

#calendar-selector {
  font-size: small;

  ul {
    list-style-type: none;
    padding-inline-start: 1em;
  }

  li {
    display: block;
  }

  .toggle-line {
    border-bottom: solid 1px gray;
  }

  .expand-toggle {
    display: none;
  }

  .collapsed > .collapse-toggle {
    display: none;
  }

  .collapsed > .expand-toggle {
    display: inherit;
  }

  .form-check-input {
    border-color: var(--text-on-no-color);
    background-color: var(--no-color);
  }

  // TODO style indeterminate checkboxes consistently
  // Issue URL: https://github.com/groton-school/planner-lti/issues/78
  .form-check-input:checked {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{map.get(colors.$variants, 'text-on-no-color')}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>");
  }

  .ClassMeeting,
  .CalendarEvent {
    .form-check-input {
      border-color: var(--no-color-on-white);
      background-color: white;
    }
    .form-check-input:checked {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{map.get(colors.$variants, 'no-color-on-white')}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>");
    }
  }

  [class*='course_'] {
    @each $color in ('RD', 'OR', 'YL', 'GR', 'LB', 'DB', 'PR') {
      .#{$color}_block {
        .form-check-input,
        a .collapse-toggle:before,
        a .expand-toggle:before {
          color: var(--text-on-#{$color});
          border-color: var(--text-on-#{$color});
          background-color: var(--#{$color});
        }
        .form-check-input:checked {
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{map.get(colors.$variants, 'text-on-#{$color}')}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>");
        }

        .CalendarEvent,
        .ClassMeeting {
          .form-check-input {
            border-color: var(--#{$color}-on-white);
            background-color: white;
          }
          .form-check-input:checked {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{map.get(colors.$variants, '#{$color}-on-white')}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>");
          }
        }
      }
    }
  }
}
