public-hoist-pattern[]=@tsconfig/recommended
public-hoist-pattern[]=app-root-path
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*webpack*
public-hoist-pattern[]=*-loader
public-hoist-pattern[]=imagemin*
public-hoist-pattern[]=mini-css-extract-plugin
public-hoist-pattern[]=postcss*
public-hoist-pattern[]=sass
public-hoist-pattern[]=typescript
