hoist-pattern[]=@tsconfig/recommended
hoist-pattern[]=app-root-path
hoist-pattern[]=webpack*
hoist-pattern[]=*-webpack-*
hoist-pattern[]=*-loader
hoist-pattern[]=imagemin*
hoist-pattern[]=mini-css-extract-plugin
hoist-pattern[]=postcss*
hoist-pattern[]=sass
hoist-pattern[]=typescript