@use 'sass:map';
@use 'sass:math';
@use '@groton/colors';

@each $abbreviation, $color in colors.$abbreviations {
  .#{$abbreviation}.CalendarEvent,
  .#{$abbreviation}.ClassMeeting,
  .#{$abbreviation} .fc-event-main {
    color: map.get(colors.$variants, '#{$color}-on-white') !important;
    background: white !important;
    border: map.get(colors.$variants, $color)
      solid
      var(--planner-border-width) !important;
  }

  .#{$abbreviation}.modal-header,
  .#{$abbreviation}.CalendarEvent.modal-header,
  .#{$abbreviation}.ClassMeeting.modal-header,
  .#{$abbreviation}.PlannerEvent,
  .#{$abbreviation}.PlannerEvent .fc-event-main,
  .#{$abbreviation}.Assignment,
  .#{$abbreviation}.Assignment .fc-event-main {
    color: map.get(colors.$variants, 'text-on-#{$color}') !important;
    background: map.get(colors.$variants, $color) !important;
    border-color: map.get(colors.$variants, $color) !important;
  }

  .#{$abbreviation}.form-check-input:checked {
    background-color: map.get(colors.$variants, $color) !important;
    border-color: map.get(colors.$variants, $color) !important;
    color: map.get(colors.$variants, 'text-on-#{$color}') !important;
  }
}
