@use 'sass:map';
@use 'sass:math';
@use '@groton/colors';

@mixin diagonal-stripe($a, $b, $angle: 135, $aWidth: 12, $bWidth: 12) {
  $leg: math.sqrt(math.pow((($aWidth + $bWidth) * 2), 2) / 2);
  background-image: linear-gradient(
    #{$angle}deg,
    #{$a} 25%,
    #{$b} 25%,
    #{$b} 50%,
    #{$a} 50%,
    #{$a} 75%,
    #{$b} 75%,
    #{$b} 100%
  );
  background-size: #{$leg}px #{$leg}px;
}

@each $abbreviation, $color in colors.$abbreviations {
  .#{$abbreviation}.ClassMeeting,
  .#{$abbreviation}.ClassMeeting .fc-event-main {
    color: map.get(colors.$variants, '#{$color}-on-white') !important;
    background: white !important;
    border: map.get(colors.$variants, $color)
      solid
      var(--planner-border-width) !important;
  }

  .#{$abbreviation}.modal-header,
  .#{$abbreviation}.PlannerEvent,
  .#{$abbreviation}.PlannerEvent .fc-event-main,
  .#{$abbreviation}.Assignment,
  .#{$abbreviation}.Assignment .fc-event-main {
    color: map.get(colors.$variants, 'text-on-#{$color}') !important;
    background: map.get(colors.$variants, $color) !important;
    border-color: map.get(colors.$variants, $color) !important;
  }
}
