#todo-wrapper:has(#incomplete:empty):has(#done:empty) {
  display: none;
}

// col-md-9… when #todo content present
#calendar-wrapper:has(+ #todo-wrapper:not(:has(#incomplete:empty))),
#calendar-wrapper:has(+ #todo-wrapper:not(:has(#done:empty))) {
  flex: 1 0 0;
  @media (min-width: var(--bs-breakpoint-md)) {
    flex: 0 0 auto;
    width: 75%;
  }
}

// .col-md-3… when #todo content present
#calendar-wrapper + #todo-wrapper:not(:has(#incomplete:empty)),
#calendar-wrapper + #todo-wrapper:not(:has(#done:empty)) {
  flex: 1 0 0;
  @media (min-width: var(--bs-breakpoint-md)) {
    flex: 0 0 auto;
    width: 25%;
  }
}
