<p>
  In order to display your assignment and planner details, the Planner needs
  access to the Canvas API.
</p>
<a
  id="authorize"
  class="btn btn-primary"
  href="javascript:popup=window.open();popup.location.href='<%= authorize_url %>';"
  >Authorize</a
>
