<div id="calendar-selector" class="card mt-5 me-3">
  <div class="card-body">
    <h5 class="card-title">Calendars</h5>
    <ul class="card-text">
      <% for (const toggle of toggles) { %>
      <li><%- toggle.render() %></li>
      <% } %>
    </ul>
  </div>
</div>
