:root {
  --course_undefined: #999;
  --course_undefined_text: #eee;
  --course_undefined_light: #ccc;
  --course_undefined_light_text: #eeee;
  --course_undefined_dark: #777;
  --course_undefined_dark_text: #eee;
}

.course_undefined.planner_item {
  background: var(--course_undefined);
  color: var(--course_undefined_text);
  border: var(--course_undefined);
}

.course_undefined.planner_item.done {
  background: var(--course_undefined_light);
  color: var(--course_undefined_light_text);
}

.course_undefined .form-check-input:checked {
  color: var(--course_undefined);
  border: var(--course_undefined);
}

.course_undefined.class_meeting {
  background: var(--course_undefined_dark_text);
  color: var(--course_undefined_dark);
  border: var(--course_undefined);
}

.done {
  .fc-event-title,
  .fc-list-event-title,
  .name {
    text-decoration: line-through 0.1em;
  }
}

.btn-brand-primary {
  background: var(--ic-brand-button--primary-bgd);
  color: var(--ic-brand-button--primary-text);
}

.btn-brand-secondary {
  background: var(--ic-brand-button--secondary-bgd);
  color: var(--ic-brand-button--secondary-text);
}

.fc-daygrid-event-dot,
.fc-list-event-dot {
  border-color: hsla(0, 0%, 100%, 0.5) !important;
}
