.fc-activity-button:not([data-processes='0']) span[role='img']::before {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fc-activity-button:not([data-processes]) span[role='img']::before {
  animation: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
