<p>
  In order to display your class schedule, the Planner needs access to your
  Google Calendar.
</p>
<a
  id="authorize"
  class="btn btn-primary"
  href="javascript:popup=window.open();popup.location.href='<%= authorize_url %>';"
  >Authorize</a
>
