<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          <h5>Authorization</h5>
        </div>
      </div>
      <div class="modal-body">
        <p>
          In order to display your class schedule, the Planner needs access to
          your Google Calendar.
        </p>
        <a
          id="authorize"
          class="btn btn-primary"
          href="javascript:popup=window.open();popup.location.href='<%= authorize_url %>';"
          >Authorize</a
        >
      </div>
    </div>
  </div>
</div>
