<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value=""
    id="toggle-<%= id %>"
  />
  <label
    class="form-check-label <%= titleClassNames.join(' ') %>"
    for="flexCheckDefault"
  >
    <%- title %>
  </label>
</div>
