@use 'sass:map';
@use '@groton/colors';

.CalendarEvent,
.CalendarEvent .fc-event-main {
  color: map.get(colors.$variants, 'no-color');
  background: white;
  border: solid var(--planner-border-width)
    map.get(colors.$variants, 'no-color');
}

.CalendarEvent.modal-header {
  color: map.get(colors.$variants, 'text-on-no-color');
  background: map.get(colors.$variants, 'no-color');
  border-color: map.get(colors.$variants, 'no-color');
}
