@use '@groton/colors/vars';

.fc-event.CalendarEvent {
  border-color: var(--no-color);
  background-color: white;

  .fc-event-main,
  a {
    color: var(--text-on-no-color);
  }
}

.modal-header.CalendarEvent {
  color: var(--text-on-no-color);
  background-color: var(--no-color);
}
