@use 'sass:string';
@use 'sass:math';
@use '../../../../node_modules/@groton/colors/vars.css';

$colors: 'RD', 'OR', 'YL', 'GR', 'LB', 'DB', 'PR';

@mixin diagonal-stripe($a, $b, $angle: 135, $aWidth: 12, $bWidth: 12) {
  $leg: math.sqrt(math.pow((($aWidth + $bWidth) * 2), 2) / 2);
  background-image: linear-gradient(
    #{$angle}deg,
    #{$a} 25%,
    #{$b} 25%,
    #{$b} 50%,
    #{$a} 50%,
    #{$a} 75%,
    #{$b} 75%,
    #{$b} 100%
  );
  background-size: #{$leg}px #{$leg}px;
}

@each $color in $colors {
  $c: string.to-lower-case($color);
  $block: '#{$color}_block';

  .#{$block}.google.calendar_event,
  .#{$block}.google.calendar_event .fc-event-main {
    border: var(--#{$c}) solid 1pt !important;
    color: var(--#{$c}-on-white) !important;
    background: white !important;
  }

  .#{$block}.canvas.planner_item,
  #todo .#{$block}.item,
  .#{$block}.canvas.assignment,
  .#{$block}.google.calendar_event.modal-header {
    background: var(--#{$c}) !important;
    color: var(--#{text-on-#{$c}}) !important;
    border: var(--#{$c}) !important;
  }

  .#{$block}.canvas.planner_item.done,
  .#{$block}.canvas.assignment.done,
  #todo .#{$block}.item.done {
    background: var(--#{$c}) !important;
    color: var(--text-on-#{c}) !important;
  }

  .#{$block} .form-check-input:checked {
    background-color: var(--#{$c}) !important;
    border-color: var(--#{$c}) !important;
    color: var(--text-on-#{$c}) !important;
  }
}
